<footer
	class="w3-container w3-center w3-white w3-center w3-opacity w3-small">
	<div class="w3-content w3-padding" style="max-width: 400px;">
		<div class="w3-row-padding">
			<p class="w3-third w3-small">{{ .Site.Params.Contents.contact_us}}:</p>
			<p class="w3-third w3-hover-opacity">
				<i class="fa fa-fw fa-phone"></i> 9435029835
			</p>
			<p class="w3-third w3-hover-opacity" style="display: flex">
				<i class="fa fa-fw fa-envelope" style="padding-right: 20px"></i> <a
					href="mailto:bhakat.dwijendra@gmail.com?subject=i want some information">
					bhakat.dwijendra@gmail.com</a>
			</p>
		</div>
	</div>
	<p class="w3-tiny w3-center">
		{{ .Site.Params.Contents.fotter_head }} 
		<a href="mailto:dawn.das@gmail.com?subject=Some change for website {{ .Site.BaseURL}}"
			class="w3-hover-text-green">{{.Site.Params.Contents.fotter_detail }}</a>
	</p>
</footer>

</body>

</html>