<div class="w3-top">
	{{$home :=  (index .Site.Menus.main 0) }}
	<div class="w3-bar w3-white w3-wide w3-padding w3-card">	
	  	<a href="{{$home.URL}}" class="w3-bar-item w3-button w3-hover-none"><b>{{ .Site.Params.logo.logo1 }}</b></a>
	  	<div class="w3-right w3-hide-small">
			{{ range .Site.Menus.main }}	  		
	  		<a href="{{ .URL }}" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-red">{{ .Name }}</a>
	  		{{end}}
	  		
			{{ if .IsTranslated }}
		  		{{ i18n "translations" }}		  		
    			{{ range .Translations }}
        	<a id="changeLanguage1" href="{{ .Permalink }}" class="w3-tiny w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-red">{{ .Site.Params.languageLink.Name }}</a>
    			{{ end}}
	  		{{ end }}
	  	</div>
	  	<a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="navigate()">&#9776;</a>
	</div>  
	
	<div id="navigator" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
	  	{{ range .Site.Menus.main }}	  		
	  		<a href="{{ .URL }}" class="w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-red">{{ .Name }}</a>
	  	{{end}}	  		
		{{ if .IsTranslated }}
			{{ i18n "translations" }}		  		
    		{{ range .Translations }}
        	<a id="changeLanguage2" href="{{ .Permalink }}" class="w3-tiny w3-bar-item w3-button w3-hover-none w3-text-grey w3-hover-text-red">{{ .Site.Params.languageLink.Name }}</a>
    		{{ end}}
	  	{{ end }}
	</div>
</div>